{
    "node": {
        "port": "",
        "domain": ""
    },
    "nas": {
        "protocol": "https",
        "host": "",
        "port": "",
        "user": "",
        "pwd": ""
    },
    "ftp": {
        "host": "",
        "port": "",
        "user": "",
        "pwd": "",
        "default_path": "",
        "uri": ""
    },
    "seedbox": {
        "host": "",
        "url": "",
        "port": "",
        "user": "",
        "pwd": "",
        "dl_path": ""
    },
    "ygg": {
        "url": "",
        "user": "",
        "pwd": ""
    },
    "cloudflare_bypass_url": ""
}
